# Logs
logs/
*.log

# Compiled class files
*.class

# Maven target directory
target/

# IntelliJ IDEA files
*.iml
.idea/
.vscode/

# MacOS files
.DS_Store

# Node modules (if applicable)
node_modules/

# Environment files
.env

# Docker files
docker-compose.override.yml

# Other
*.swp
*.bak
*.tmp
~*

config/terraform.md
config/terraform/terraform.tfvars
config/terraform/.terraform/
config/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
config/terraform/terraform.tfvars
config/scripts/build-and-push.sh
config/terraform/terraform.tfstate.1762057262.backup
