# ==============================================================================
# AWS Learner Lab
# ==============================================================================
aws_access_key_id     = "YOUR_AWS_ACCESS_KEY_ID"
aws_secret_access_key = "YOUR_AWS_SECRET_ACCESS_KEY"
aws_session_token     = "YOUR_AWS_SESSION_TOKEN"

aws_region         = "us-west-2"
aws_account_id     = "YOUR_AWS_ACCOUNT_ID"

allowed_ingress_cidrs = ["YOUR_IP_ADDRESS/32"]